body {
    padding-top: 8vmin;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
    min-width: 200px;
    max-width: 440px;
    background-color: rgba(242, 242, 242, 1);
}

.wrapper>div {
    padding: 2vmin 3vmin;
}

.pin-box p {
    margin: 0;
}

.sign-end .process-actions {
    margin-bottom: 0;
}

.sign-end>div,
.pin-box>div {
    margin-bottom: 3vmin;
}

.pin-box .pin-inputs-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vmin;
}

.pin-box .pin-inputs-container input:not(:last-child) {
    margin-right: 1vmin;
}

.pin-box .pin-inputs-container input {
    text-align: center;
}

.pin-box .pin-box-information {
    font-size: 12px;
}

.process-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.process-actions .btn-ok {
    background-color: #0099cc;
    color: white;
    padding: 2px 32px;
}

.process-actions .btn-ok:hover {
    color: #f0f0f0;
}

@media(max-width: 600px) {
    .wrapper {
        width: 80%;
    }
}


/*LOGO PAPERLESS->SIGNATUS*/

.logo-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-box>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.logo-box .logo-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-box .logo-with-title span {
    font-size: 10px;
    padding: 6px 4px;
}


/* FINISH PAGE*/

.sign-end {
    text-align: left;
}

.sign-end h5,
.sign-end h4 {
    margin: 4vmin 0;
}

.sign-end #doc-title {
    color: #0099CC;
}

.hide {
    display: none;
}